ul.top-bar{
  padding: 0;
  display: flex;
  justify-content: space-around;
  aligndtion: row-reverse;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.navigation-bar img{
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hamburger{
  margin-right: auto;
  margin-left: 10px;
}

#live-chat{
  width: unset;
  margin-right: 20px;
  display: inline-block;
}

.phone{
  margin-right: 10px;
}

.cart-wrapper{
  display: inline-block;
  position: relative;
  margin-top: 15px;
}

.shopping-cart-image{
  width: 55px;
}

.cart-itemcount{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -75%);
  color: white;
  font-size: 14px;
  margin: 0;
}

#shell > div > div.row.header > div > div > div.col-xs-6.visible-xs.pull-left.hidden-print{
  text-align: center;
}

#search-box{
  margin-top: 5px!important;
}

.nav-menu{
  background-color: black;
  position: absolute;
  z-index: 10000;
  width: 100%;
  padding: 0;
  margin-top: 0;
}

.nav-menu>li, .nav-menu>a{
	text-transform: uppercase;
	color: white;
	list-style-type: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.nav-menu>li, .nav-menu>a>li{
  border-bottom: 1px solid #aaa;
  padding: 15px 10px;
}

.submenu{
  background-color: white;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 14px;
}

.brand-submenu li{
  height: 70px;
}

.brand-submenu img{
  width: 60px;
  margin-right: 5px;
}

.part-submenu img{
  width: 40px;
  margin-right: 5px;
}

.submenu a{
  padding-left: 37px;